/* Стили для всех вкладок */
.TFrame {
    background: #f0f0f0;
    padding: 15px;
}

.TButton {
    font-family: "Segoe UI";
    font-size: 10px;
    padding: 5px 10px;
}

.Treeview  {
    background: white;
}

/* Цвета статусов */
.success {
    color: #2ecc71;
}

.error {
    color: #e74c3c;
}